module: tsa

environment: dev

replicas: 1

containers:
  image: ghcr.io/miletocarmelo/tradingstrategyanalysis
  name: tranding-strategy-analysis
  tags: latest
  ports:
    containerPort: 80 # Changed from 'http' to '80' for consistency
  resources:
    requests:
      memory: "1Gi"        # Augmenté de 512Mi à 1Gi
      cpu: "500m"          # Augmenté de 200m à 500m
    limits:
      memory: "2Gi"        # Augmenté de 1024Mi à 2Gi
      cpu: "1000m"         # Augmenté de 200m à 1000m (équivalent à 1 CPU)
  sqlite:
    enabled: false
  redis:
    enabled: false

service:
  port: 8040
  targetPort: 80

ingress:
  host: dev.quant-cm.com  # Moved this out of 'hosts' array for simplicity
  enabled: true  # Changed from 'enable' to 'enabled' for consistency
  metadata:
    annotations:
      kubernetes.io/ingress.class: nginx  # Added this common annotation
      nginx.ingress.kubernetes.io/rewrite-target: /$1  # If you want path rewriting
  spec:
    path: /tsa
    pathType: Prefix

configmap:
  enabled: false